.header {
  position: sticky;
  top: 0;
  box-shadow: 0 1px var(--gray-a4);
}

.hamburgerButton {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
