.sidebar {
  padding: var(--space-1) var(--space-1);
  width: 256px;
  height: 100dvh;
  box-shadow: 1px 0 var(--gray-a4);
  transition: width 0.3s ease-in-out;
  overflow-y: auto;

  &.open {
    width: 40px;
  }
}

.toggleButton {
  &:hover {
    cursor: pointer;
  }
}

.nav {
  padding: var(--space-1) var(--space-1);
}
