.container {
  display: flex;
  width: 100%;
  container-type: inline-size;
}

.item {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-6);
  min-height: 32px;
  width: 100%;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--accent-a4);
  }

  &[data-disabled="true"] {
    cursor: not-allowed;
    text-decoration: none;
    color: var(--gray-a8);
    background-color: var(--gray-2);
  }
}

.activeIndicator {
  min-width: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition:
    background-color 0.3s ease-in-out,
    scale 0.3s ease-in-out;
  scale: 0 0.8;

  &[data-active="true"] {
    background-color: var(--accent-a9);
    scale: 1;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.label,
.prefix,
.suffix {
  display: inline;
  opacity: 1;
  white-space: nowrap;
  transition: opacity 0.4s ease-in-out;

  &[data-collapsed="true"] {
    opacity: 0;
  }
}

.icon {
  translate: 0 0.1em;
}

@container (width < 64px) {
  .label,
  .prefix,
  .suffix {
    display: none;
  }
}
