.header {
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.hamburgerButton {
  border-radius: 50%;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}
